// Extra small screen / phone
$screen-xs:                  480px !default;

// Small screen / tablet
$screen-sm:                  768px !default;

// Medium screen / desktop
$screen-md:                  1232px !default;

// Large screen / wide desktop
$screen-lg:                  1300px !default;

// Extra Large screen / wide desktop
$screen-xlg:                  1328px !default;