@charset "UTF-8";

// Transition
// Would like to extend to accept a map

@mixin transition($type, $time) {
    -webkit-transition: $type $time ease-in-out;
    -moz-transition: $type $time ease-in-out;
    -o-transition: $type $time ease-in-out;
    transition: $type $time ease-in-out;
}