//Set Breakpoints
$breakpoints: (
  x-small: $screen-xs,
  small: $screen-sm,
  medium: $screen-md,
  large: $screen-lg,
  x-large: $screen-xlg
);

//Set Spacing sizes
@mixin spacing($attribute, $s-map, $s-breakpoints: $breakpoints) {
 @each $s-breakpoint, $s-spacing-size in $s-map {
   @if $s-breakpoint == null {
     @include make-spacing($s-spacing-size, $attribute);
   }
   @else {
     // If $s-font-size is a key that exists in
     // $s-breakpoints, use the value
     @if map-has-key($s-breakpoints, $s-breakpoint) {
       $s-breakpoint: map-get($s-breakpoints, $s-breakpoint);
     }
     @media screen and (min-width: $s-breakpoint) {
       @include make-spacing($s-spacing-size, $attribute);
     }
   }
 }
}

// Utility function for mixin spacing
@mixin make-spacing($s-spacing-size, $attribute) {

  // If conditions for selecting attribute
  #{$attribute}: $s-spacing-size;
}